.confirmation-section {
  background-color: var(--primary-one-color);
  padding: 20px;
  text-align: center;
  height: 80vh;
  justify-content: center;
  margin-bottom: 6px;
}

.confirmation-section h2 {
  margin-top: 0;
  color: var(--primary-two-color);
}

.confirmation-section h3 {
  line-height: 1.5;
  color: var(--secondary-three-color);
}
