.hero-section {
  padding: 0;
}

.hero-section h1 {
  color: var(--primary-two-color);
  margin-bottom: 0;
}

.hero-section h3 {
  margin-top: 0;
  margin-bottom: 2rem;
  color: var(--secondary-three-color);
}

.hero-section p {
  margin-top: 1rem;
  color: var(--secondary-three-color);
}

.hero-section img {
  height: 440px;
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  transform: translateY(40px);
}

.hero-section .info {
  align-self: center;
}

@media screen and (max-width: 767px) {
  .hero-section .info {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .hero-section .hero-text {
    max-width: 35ch;
  }
}
