@import "../../index.css";

.about-section {
  background-color: var(--secondary-four-color);
  margin-top: 70px;
  padding: 50px 0;
}

.about-section h2 {
  color: var(--primary-two-color);
  margin-bottom: 0;
}

.about-section h3 {
  color: var(--secondary-three-color);
  margin-top: 0;
  margin-bottom: 0;
}

.about-section p {
  color: var(--secondary-three-color);
  max-width: 32ch;
}

.about-section img {
  width: 50%;
  height: 370px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 0 3px 1px white;
}

@media screen and (min-width: 768px) {
  .about-section .owners-first-img,
  .about-section .owners-second-img {
    grid-area: 1 / 2;
  }

  .about-section .owners-second-img {
    transform: translateX(205px) translateY(-35px);
  }
}

@media screen and (max-width: 767px) {
  .about-section .owners-first-img,
  .about-section .owners-second-img {
    grid-area: 2 / 1;
    justify-self: center;
  }

  .about-section .owners-second-img {
    transform: translateX(100px) translateY(-10px);
  }

  .about-section .owners-first-img {
    transform: translateX(-90px);
  }

  .about-section .mobile-grid {
    row-gap: 30px;
  }
}
