@import "../../index.css";

.footer-section {
  border-bottom: 4px solid var(--primary-two-color);
}

.footer-section .logo {
  align-self: center;
}

@media screen and (max-width: 767px) {
  .footer-section .footer-links-desktop {
    display: none;
  }

  .footer-links-mobile .logo {
    margin: 12px 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-section .footer-links-mobile {
    display: none;
  }

  .footer-section nav {
    justify-content: space-evenly;
    margin-bottom: 10px;
  }

  .footer-section .footer-links {
    margin-left: 100px;
  }

  .footer-section h3 {
    color: var(--primary-one-color);
    margin-bottom: 2rem;
  }
}
