.testimonial-card {
  background-color: var(--primary-one-color);
  padding: 2rem;
  border-radius: 16px;
  color: var(--secondary-three-color);
}

.testimonial-card img {
  width: 150px;
  border-radius: 16px;
  box-shadow: -5px -5px rgba(255, 255, 255, 0.7);
  margin-top: 15px;
}

.testimonial-card .rating {
  justify-content: end;
}

.testimonial-card .rating-number {
  margin-right: 5px;
  align-self: center;
}

.testimonial-card .card-name {
  margin-left: 40px;
  align-self: center;
}

.testimonial-card .card-text {
  text-align: center;
  color: var(--secondary-three-color);
}
