@import "../../index.css";

.header-section li {
  margin-left: 50px;
}

.header-section nav {
  padding: 5px 8px;
  align-items: center;
}

.header-section .logo {
  transform: translateY(5px);
}

@media screen and (max-width: 767px) {
  .header-section .links {
    display: none;
  }
}
