.header-section .links li {
  margin-left: 50px;
}

.header-section nav {
  padding: 10px 10px 0 10px;
  align-items: center;
}

.header-section .logo {
  transform: translateY(5px);
}

.header-section .links-mobile li {
  margin-left: 5px;
  margin-bottom: 1.2rem;
  text-align: center;
}

.header-section .menu-button {
  align-self: center;
}

.header-section .links-mobile {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s, opacity 0.3s;
}

.header-section .links-mobile.opened {
  max-height: 100%;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .header-section .nav-bar-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-section .nav-bar-mobile {
    display: none;
  }
}
